.app-wrap {
    position: relative;
}

.app-wrap:before{
    background-image: url("https://i.pinimg.com/originals/8a/51/00/8a5100c7919128817aff8d2c1a9ae86d.jpg");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background image opacity here: */
    opacity: 1;
    /* background-size: contain;
    /* background-repeat: no-repeat; */
    background-position: center;
    align-items: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: 50% 0;
    content: ' ';
    display: block;
    position: absolute;
}

.app-content{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    position: relative;
}

.button {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(239, 234, 234);
    
    font-size: 15px;
    font-family: "Ink Free", sans-serif;
    align-items: right;
    float: right;

    height: 100%;

    padding: 1rem 1rem;
    border-radius: 1rem;

    }
    
    button:hover {
       cursor: pointer; 
    }




